:host ::ng-deep .p-dialog .product-image {
  width: 150px;
  margin: 0 auto 2rem auto;
  display: block;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
max-width: 2000px;
  .tabela-aluno{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 50vh;

  }
  .tabela-plano{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    min-height: 50vh;

  }


}
