:host ::ng-deep .p-dialog .product-image {
  width: 150px;
  margin: 0 auto 2rem auto;
  display: block;

}




.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 2000px;


  .tabela-aluno{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 50vh;

    .title-section {
      display: flex;
      justify-content: space-between; /* Espaço entre os itens */
      align-items: center; /* Alinha verticalmente no centro */
      width: 100%; /* Ocupará a largura total */
      max-width: 80%; /* Define uma largura máxima */
      margin-bottom: 1.5rem; /* Espaço inferior */
      padding: 0 1rem; /* Espaçamento lateral */
      position: relative; /* Necessário para centralização absoluta do título */

      button {
        background-color: #007bff; /* Cor de fundo */
        color: white; /* Cor do texto */
        border: none; /* Remove borda */
        padding: 0.5rem 1rem; /* Espaçamento interno */
        border-radius: 5px; /* Borda arredondada */
        font-size: 1rem; /* Tamanho do texto */
        cursor: pointer; /* Cursor de ponteiro */
        transition: background-color 0.3s ease;
        position: relative;
        left: 10%;

        &:hover {
          background-color: #0056b3; /* Cor ao passar o mouse */
        }
      }

      h1 {
        position: absolute; /* Centraliza o título */
        left: 50%; /* Move para o meio */
        transform: translateX(-50%); /* Ajusta para centralização perfeita */
        font-size: 2rem; /* Tamanho da fonte do título */
        margin: 0; /* Remove margens padrão */
      }
    }

  }
  .tabela-plano{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    min-height: 50vh;

  }


}



