/* You can add global styles to this file, and also import other style files */
// Declaração de variáveis de cores globais
$primary-color: #1F0078;
$secondary-color: #ffffff;
$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;
$light-color: #f8f9fa;
$dark-color: #343a40;
$white-color: #ffffff;
$black-color: #000000;

:root {
  --primary-color: #6A7CDB; /* Cor personalizada */
  --primary-color-light: #9AAEFB; /* Versão mais clara */
  --blue-500: #1F0078; /* Cor amarela personalizada */
  --blue-300:#040e41;/* Cor do texto */
  --yellow-500: #FBC02D; /* Cor amarela personalizada */
  --green-500: #4CAF50; /* Cor verde personalizada */
  --yellow-400: #FFEB3B; /* Hover amarelo */
  --green-400: #66BB6A; /* Hover verde */
  --text-color: #333333; /* Cor do texto */
}


// Exemplo de uso
body {

  color: $dark-color;
}

::ng-deep .p-dialog {
  position: fixed;
  z-index: 1050 !important; /* Certifique-se de que este número seja alto */
}



@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
