

<div class="container">
  <!-- Sidebar -->
  <nav class="sidebar">
    <div class=" d-flex justify-content-center align-items-center">
      <ul>
        <li class="mb-4">
          <a routerLink="/dashboard/matriculas-planos" routerLinkActive="active">
            <i class="pi pi-home"></i>
          </a>
        </li>
        <li class="mb-4">
          <a routerLink="/dashboard/tabela" routerLinkActive="active">
            <i class="pi pi-users"></i>
          </a>
        </li>
        <li class="mb-4">
          <a routerLink="/dashboard/cards" routerLinkActive="active">
            <i class="pi pi-money-bill"></i>
          </a>
        </li>
      </ul>
    </div>

  </nav>

  <!-- Conteúdo dinâmico -->
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
