


  <!-- Sidebar -->
  <nav class="sidebar">
    <div class=" d-flex justify-content-center align-items-center">
      <ul>
        <li class="mb-4">
          <a routerLink="/dashboard/tabela-alunos" routerLinkActive="active">
            <i class="pi pi-users"></i>
          </a>
        </li>
        <li class="mb-4">
          <a routerLink="/dashboard/matriculas-planos" routerLinkActive="active">
            <i class="pi pi-chart-bar"></i>
          </a>
        </li>
      </ul>
    </div>

  </nav>

  <!-- Conteúdo dinâmico -->
  <div class="content">
    <router-outlet></router-outlet>
  </div>

